<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Bem-vindo!</h1>
    <p>Escolha uma opção abaixo:</p>
    <div>
        <a th:href="@{/curriculos/novo}" class="btn btn-primary">Criar Currículo</a>
        <a th:href="@{/vagas}" class="btn btn-secondary">Ver Vagas</a>
        <a th:href="@{/curriculos}" class="btn btn-info">Ver Currículos</a> <!-- Novo botão para ver currículos -->
    </div>
</div>
</body>
</html>
