<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrar-se</title>
</head>
<body>
<div layout:fragment="conteudo" class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center">Registrar-se</h2>
    <form th:action="@{/users/register}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </form>
</div>
</body>
</html>
